<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #empleadoForm="ngForm" (ngSubmit)="createEmpleado(empleadoForm)">
                    <input type="hidden" name="id" 
                    [(ngModel)]="empleadoService.empleado.id"
                    >
                    <div class="form-group">
                        <input 
                        type="text"
                        class="form-control"
                        placeholder="Nombre"
                        name="name"
                        [(ngModel)]="empleadoService.empleado.name"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="text"
                        class="form-control"
                        placeholder="Puesto"
                        name="position"
                        [(ngModel)]="empleadoService.empleado.position"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        name="email"
                        [(ngModel)]="empleadoService.empleado.email"
                        >
                    </div>
                    <div class="form-group">
                        <input 
                        type="number"
                        class="form-control"
                        placeholder="Sueldo"
                        name="salary"
                        [(ngModel)]="empleadoService.empleado.salary"
                        >
                    </div>
                    <button class="btn btn-secondary m-2" (click)="formReset(empleadoForm)">Limpiar</button>
                    <button class="btn btn-primary m-2">Guardar</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Email</th>
                    <th>Sueldo</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of empleadoService.empleados">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.position}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.salary}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editEmpleado(item)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmpleado(item.id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
